# Sensitive Data
.env
*.pyc
__pycache__/

# Dependencies
node_modules/
venv/
.venv/

# Database & Logs
*.sqlite
*.log

# IDE files
.vscode/
.idea/

# Database & Persistence
*.db
*.db-shm
*.db-wal
*.sqlite